 .create-post-form {  
    padding: 40px;
    text-align: center;
    border-top: solid black 1px;
    border-bottom: solid black 1px;

} 

.mb-3 {
    width: 500px;
    margin: 0 auto;
    display: grid;
}

.create-post-text {
    font-family: 'Bungee Shade', cursive;
}
