
.write-comment-button {
    display: flex;
    justify-content:center;
    padding-right: 20px;
}

.locked-warning {
    display: flex;
    justify-content:center;
    padding-right: 20px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.no-comments-text {
    display: flex;
    justify-content:center;
    padding-right: 20px;
}

.single-comment {
    font-family: 'Lato', sans-serif;
}

.all-comments-text {
    display: flex;
    justify-content:center;
    padding-right: 20px;
    font-family: 'Bungee Shade', cursive;
}

