body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card.bg-light.border-dark {
  box-shadow: 10px 10px 20px rgb(51, 50, 53);
  transition: transform .2s;
  border-radius: 20px;
  border-color: gray !important;

}
.card.bg-light.border-dark:hover {
  transform: scale(1.1);
  border-color: black !important;
  box-shadow: 20px 20px 50px rgb(51, 50, 53);
}

.btn.btn-outline-dark {
  border-radius: 20px;
}

.btn.btn-outline-dark:hover {
  box-shadow: 10px 10px 20px rgb(51, 50, 53);
}

.btn.btn-outline-dark:disabled {
  border: solid 2px rgb(54, 8, 48);
  box-shadow: 2px 2px 2px rgb(54, 8, 48);
}

.card-header {
  font-style: italic;
}

.modal-content {
  border-radius: 20px !important;
  text-align: center;
  box-shadow: 10px 10px 50px rgb(54, 8, 48);
  border: solid 1.5px !important;
}
.modal-footer {
  justify-content: center !important;
}

.modal-dialog {
  padding-right: 30px;
}
