.all-posts {
    text-align: center;
}

.individual-post {
    display: flex;
    justify-content:center;
    padding-right: 30px;
    padding-bottom: 30px;
    font-family: 'Lato', sans-serif;
    
}

.search-bar {
    display: flex;
    justify-content:center;
}

.input-group>.form-control, .input-group>.form-select {
    border-radius: 20px;
}


