.create-comment-form {  
    padding: 40px;
    text-align: center;
    border-top: solid black 1px;
    border-bottom: solid black 1px;

} 

.create-comment-text {
    font-family: 'Bungee Shade', cursive;
}